.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 16px;

}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 8px;
}
.cat-1{
    background-color: orange;
    
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: blue;
}
.categori h1{
    color: #fff;
}
.categori img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top: none !important;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}

footer{
    text-align: center;
}